html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: #1e1e1e;;
}


/* This section refers to the header and footer elements */

header{
  background-color: #242b36;
  text-align: center;
  /* min-width: 500px; */
  min-height: 50vh;
  /* min-width: 100vh; */
  display:flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-evenly;
  border-bottom: 1vh groove #a19393;
}
.wrapper {
  max-width: 1150px;
  margin: auto;
  padding: 50px;
  display: block;
  padding-bottom: 0;
}

.bio {
font-size: calc(1em + .6vw);
font-family: 'Work Sans';
text-align: center;
color: #e7d8d8;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.myButton {
  border-radius: 28px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 1.69em auto;
}

.myButton:hover {
    background-color:#574d8f;
}

.myButton:active {
    position:relative;
    top:1px;
}

/* This section refers to the main grid elements */

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) ) ;
  grid-gap: 20px;
  margin-top: 44px;

  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.project{
  background-color: #20252c;
  padding: .3em;
  box-shadow: 2px 2px #1a1a1a;
  margin: 2vh;
}

.projectImage{
  /* border: 3px groove #181c25; */
  width: 100%;
  height: 50vh;
  object-fit: cover;
  box-shadow: 1px 1px #1e1e1e;
}

h1 {
  font-family: Poppins;
  font-size: calc(1em + 3vw);
  padding-bottom: .67em;
  border-bottom: 1px solid;
  line-height: 1.3;
  color: #e7d8d8;
}

h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #5e7898;
  padding: 10px 0px 0px 10px;
}

h2 a:link{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #5e7898;
}

h2 a:hover{
  color: #574d8f;
}

img {
  /* width: 100%;
  height: 50vh;
  object-fit: cover; */

}

.recipe {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
}

.a {

}

.c {

}

.icon {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: auto;
  display: inline;
}

.mins {
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}

.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #968e8e;
  padding: 10px 0px 10px 10px;
  /* border-top: 1px solid #4a4a4a; */
  border-top: .2vh groove #a19393;
}

.description a{
  color:#5e7898;
}
.description a:hover{
  color:#574d8f;
}

.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
  /* min-width: 500px; */
  margin: auto;
}

footer {
  border-top: 1vh groove #a19393;
  margin-top: 44px;
  background-color: #242b36;
  text-align: center;
  /* min-width: 500px; */
  min-height: 13vh;
  /* min-width: 100vh; */
  display:flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-evenly;

  font-size: calc(.8em + .2vw);
  font-family: 'Work Sans';
  text-align: center;
  color: #e7d8d8;

}

@media all and (max-width:700px) {
  main {
    grid-template-columns: 1fr;
  }
}
